.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 70%;
}

.section .title {
  font-size: 50px;
  margin-bottom: 30px;
}

.section .info {
  font-size: 18px;
}

.section .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.section .row .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.section .row .item .profile {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  background-color: #9880ff;
  border-radius: 50%;
}

.section .row .item .profile img {
  width: 100%;
  height: auto;

  display: inline;
  margin: 0 auto;
}


.section .row .item .name {
  padding-top: 20px;
}

.section .row .item .subtitle {
  font-size: 12px;
}

.spacer {
  margin: 30px 0;
}

@media (max-width: 800px) {
  .section .row {
    flex-direction: column;
  }

  .section .row .item {
    margin-bottom: 60px;
  }

  .section .row .item .profile {
    width: 300px;
    height: 300px;
  }

  .section .row .item .name {
    font-size: 20px;
  }

  .section .row .item .subtitle {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .section .row .item .profile {
    width: 200px;
    height: 200px;
  }

  .section .row .item .name {
    font-size: 18px;
  }

  .section .row .item .subtitle {
    font-size: 12px;
  }
}