/* @import url("https://fonts.googleapis.com/css?family=Bebas+Neue"); */
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */

.container {
  padding: 0 1rem;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8vh;
  margin-top: 50px;
  margin-bottom: 25px;
}

.total {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30vh;
  color: #212427;
}

.total.hide {
  display: none;
}

@media (max-width: 600px) {
  .total {
    font-size: 20vh;
  }
}

@media (max-width: 500px) {
  .total {
    font-size: 15vh;
  }
}
