---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>TMKLB</title>
	</head>
	<body>
		<h1>August</h1>
		<div style="width: 400px;">
			<canvas id="bank"></canvas>
		</div>
	</body>
	<script>
      import "../scripts/bank.js";
	</script>
</html>
